<a class="login-view" href="#">
	<object	data="http://www.youtube.com/embed/XGSy3_Czz8k"></object>
	<a class="waves-effect waves-dark btn indigo"><i class="fa fa-facebook"></i> entrar con facebook</a>
	
	<form action="#!">
	 	<div class="input-field">
		    <i class="fa fa-user prefix"></i>
		    <input id="username-input" type="text" name="username">
		    <label for="username-input">Username</label>
		  </div>
		 
		  <div class="input-field">
		    <i class="fa fa-unlock-alt prefix"></i>
		    <input id="password-input" type="password" name="password">
		    <label for="password-input">Password</label>
		  </div>
		  <button class="waves-effect btn">Iniciar Sesi&oacute;n</button>
		  <div class="right-align">
		    <a href="page-forgot-password.html">Olvid&eacute; mi usuario y contrase&#241;a</a>
		  </div>
	</form>
	
	<h4>&#191;A&uacute;n no eres miembro?</h4>
	
	<a class="waves-effect waves-dark btn indigo"><i class="fa fa-facebook"></i> registro con facebook </a>
	<span>(no publicaremos sin tu permiso)</span>
	
	<a class="waves-effect waves-dark btn"><i class="fa fa-envelope"></i> registrar con tu email</a>
	
	<p>Descubre los mejores lugares y eventos y gana incre&iacute;bles recompenzas</p>
	
	<div class="menu-footer">
		<a class="waves-effect waves-dark btn"><i class="fa fa-envelope"></i> Anunciar mi negocio</a>
		<p class="footer-aviso">
			Al usar YaSalte, aceptas los 
			<a href="#">Terminos</a>,
			<a href="#">Pol&iacute;tica de Cookies </a> y
			<a href="#">Pol&iacute;tica de privacidad</a> 
		</p>
	</div>
	
</a>

