.login-content{
	overflow:hidden;
}

.login-content object{
	max-width: 100%;
}

.login-content .btn{
	text-align: left;
    text-transform: none;
	margin-top: 10px;
	width:100%;
}

.login-content span{
	display: block;
	width: 100%;
	text-align: center;
	color: black;
	font-size: 10px;
}

.login-form{
	margin-top: 10px;
	overflow: hidden;
}

.waves-effect.waves-dark.btn.gray{
	background-color: #E6E6E6;
}

.static-sidebar{
	height: 100%;
    position: fixed;
    width: 60px;
    border-right: solid #E4E4E4
}
