#fotos .filters-combo{
    padding-left: 2%!important;
    
}

#fotos .filters-combo .input-field {
	padding-bottom : 0 !important;
}

#fotos .filters-combo .input-field .datepicker{
	max-width: 90%;
    border: 1px solid #cccccc;
}

#fotos .filters-combo .input-field span{
    position: absolute;
    height: calc(100% - 27%);
    vertical-align: middle;
    line-height: 3em;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

#fotos .fotos-wrapper {
	/*text-align: center;*/
}

#fotos .fotos-wrapper li{
	margin:0 1% 2%!important;
    display: inline-block;
    max-width : 10%;
    overflow:hidden;
    max-height:200px;
}

#fotos .fotos-wrapper li>a{
	display:block;
	overflow: hidden;
}

#fotos .fotos-wrapper li img{
	margin-left: -50%;
    margin-top: -100%;
}

#fotos .fotos-wrapper li img:hover{
	cursor: zoom-in;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	will-change: left, top, width, height;
	opacity: 0.8;
}

#fotos .filters-combo .picker__holder .picker__date-display{
	background-color : #EA202C!important;	
}

#fotos .filters-combo .picker__holder .picker__weekday-display{
	background-color : #EA202C!important;	
}

#fotos .filters-combo .picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected{
	background: #EA202C!important;
}

#full-photo {
	width: auto;
	max-height: 100%;
	top:5% !important;
}

#full-photo .photo-toolbar, #full-photo .photo-containner, #full-photo .photo-footer{
	max-width: 60%;
    margin: auto;
}

#full-photo .photo-footer span{
	display: block;
}
