/*.icon-arquetipo{display: block; overflow:hidden;padding:0; margin:0}
.icon-arquetipo img{width:100%;}
#profile .profile-info .icon-arquetipo{padding:0;}
#profile .profile-info .descripcion-arquetipo{padding:0 0 0 2%;}*/



