.login-content{
	overflow:hidden;
}

.login-content object{
	max-width: 100%;
}

.login-content .btn{
	text-align: left;
    text-transform: none;
	margin-top: 10px;
	width:100%;
}

.login-content span{
	display: block;
	width: 100%;
	text-align: center;
	color: black;
	font-size: 10px;
}

.login-form{
	margin-top: 10px;
	overflow: hidden;
}

.waves-effect.waves-dark.btn.gray{
	background-color: #E6E6E6;
}

.static-sidebar{
	height: 100%;
    position: fixed;
    width: 60px;
    border-right: solid #E4E4E4;
    padding-top: 55px;
}


.static-sidebar ul {
	margin: 0;
}
.static-sidebar ul li{
	display:block;
	overflow: hidden;
}


.static-sidebar ul li a{
	display:block;
	overflow: hidden;
	margin: 12px 0;
    text-align: center;
}

.static-sidebar ul li a:HOVER{
	background-color: red;
	color:white !important;
}

.static-sidebar-button i{
	line-height: 1;
    font-size: 50px;
}

.side-recomendaciones{
	position:fixed;
	right:0;
	max-width:300px;
/* 	height:100%; */
}

.side-recomendaciones ul{
	width:100%;
}

.side-recomendaciones ul li{
	width:100%;
}
