.login-content{
	/* overflow:hidden; */
}

.login-content object{
	width: 114%;
	margin: -5% -7% 3%;
}

.login-content .btn{
	text-align: center;
    text-transform: none;
	margin-top: 0;
	width:100%;
}


.login-content span{
	display: block;
	width: 100%;
	text-align: center;
	color: black;
	font-size: 10px;
}

.login-form{
	margin-top: 10px;
	overflow: hidden;
}

.waves-effect.waves-dark.btn.gray{
	background-color: #E6E6E6;
}

.static-sidebar{
	height: 100%;
    position: fixed;
    
	width: 60px;
    border-right: solid #E4E4E4;
    padding-top: 55px;
}


.static-sidebar ul {
	margin: 0;
}
.static-sidebar ul li{
	display:block;
	overflow: hidden;
}


.static-sidebar ul li a{
	display:block;
	overflow: hidden;
	padding: 12px 0 11px;
    text-align: center;
}

.static-sidebar ul li a:HOVER{
	background-color: red;
	color:white !important;
}

.static-sidebar-button i{
	line-height: 1;
    
	font-size: 25px;
}

.side-recomendaciones{
	position:fixed;
	right:0;
	max-width:300px;

	height: calc(100% - 55px);
	top: 55px;
	overflow: hidden;
	background-color: #e6e6e6!important;
	
    
	right: 0;
	z-index: 23445;
	
	-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.side-recomendaciones ul{
	width:100%;
}

.side-recomendaciones ul li{
	width:100%;
}



.content-wrap{min-height:calc(100vh);width: calc(100% - 60px);margin-left: 60px!important;position: relative;}
footer{ position:absolute; bottom:0; left:0; width: 100%;}
.yay-toggle div:after,.yay-toggle div:before{ background:#fff;}
.navbar-top .user{ min-width:inherit;}
.navbar-top .nav-wrapper>.sp-cancel i, .navbar-top .nav-wrapper>a i, .navbar-top .nav-wrapper>ul i{ font-size:2.2em; color:#fff;}
#user-dropdown i{ color:#42A5F5; font-size: 1.2em; margin-right: 4%;}
.navbar-top .user img{ margin-right:0;}
.dropdown-content{ width: 20%!important; right: 0; left: inherit!important;}

.login-content .input-field{ border:1px solid #999;}
.login-content .input-field .prefix~input,.login-content .input-field .prefix~textarea{}

@media only screen and (min-width: 601px){
}