@font-face {
	font-family: 'Yasalte';
	src:url('fonts/Yasalte.eot?qfw9he');
	src:url('fonts/Yasalte.eot?#iefixqfw9he') format('embedded-opentype'),
		url('fonts/Yasalte.ttf?qfw9he') format('truetype'),
		url('fonts/Yasalte.woff?qfw9he') format('woff'),
		url('fonts/Yasalte.svg?qfw9he#Yasalte') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ya-"], [class*=" ya-"] {
	font-family: 'Yasalte';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ya-alert:before {
	content: "\e600";
}
.ya-ami:before {
	content: "\e601";
}
.ya-app:before {
	content: "\e602";
}
.ya-arq:before {
	content: "\e603";
}
.ya-asist:before {
	content: "\e604";
}
.ya-baile:before {
	content: "\e605";
}
.ya-banq:before {
	content: "\e606";
}
.ya-bar:before {
	content: "\e607";
}
.ya-biblio:before {
	content: "\e608";
}
.ya-build:before {
	content: "\e609";
}
.ya-c1:before {
	content: "\e60a";
}
.ya-c2:before {
	content: "\e60b";
}
.ya-c3:before {
	content: "\e60c";
}
.ya-c4:before {
	content: "\e60d";
}
.ya-cafe:before {
	content: "\e60e";
}
.ya-calendar:before {
	content: "\e60f";
}
.ya-calendar-plus:before {
	content: "\e610";
}
.ya-cards:before {
	content: "\e611";
}
.ya-carta:before {
	content: "\e612";
}
.ya-check:before {
	content: "\e613";
}
.ya-cine:before {
	content: "\e614";
}
.ya-city:before {
	content: "\e615";
}
.ya-clock-c:before {
	content: "\e616";
}
.ya-clock-o:before {
	content: "\e617";
}
.ya-clock-tc:before {
	content: "\e618";
}
.ya-close:before {
	content: "\e619";
}
.ya-cog:before {
	content: "\e61a";
}
.ya-cult:before {
	content: "\e61b";
}
.ya-depo:before {
	content: "\e61c";
}
.ya-diver:before {
	content: "\e61d";
}
.ya-domi:before {
	content: "\e61e";
}
.ya-down:before {
	content: "\e61f";
}
.ya-edit:before {
	content: "\e620";
}
.ya-exp:before {
	content: "\e621";
}
.ya-fav:before {
	content: "\e622";
}
.ya-fb:before {
	content: "\e623";
}
.ya-filter:before {
	content: "\e624";
}
.ya-food:before {
	content: "\e625";
}
.ya-foro:before {
	content: "\e626";
}
.ya-foto:before {
	content: "\e627";
}
.ya-free:before {
	content: "\e628";
}
.ya-fumar:before {
	content: "\e629";
}
.ya-games:before {
	content: "\e62a";
}
.ya-h:before {
	content: "\e62b";
}
.ya-handy:before {
	content: "\e62c";
}
.ya-help:before {
	content: "\e62d";
}
.ya-home:before {
	content: "\e62e";
}
.ya-info:before {
	content: "\e62f";
}
.ya-insta:before {
	content: "\e630";
}
.ya-jardin:before {
	content: "\e631";
}
.ya-kara:before {
	content: "\e632";
}
.ya-kids:before {
	content: "\e633";
}
.ya-left:before {
	content: "\e634";
}
.ya-local:before {
	content: "\e635";
}
.ya-lock:before {
	content: "\e636";
}
.ya-m:before {
	content: "\e637";
}
.ya-mail:before {
	content: "\e638";
}
.ya-mark:before {
	content: "\e639";
}
.ya-menu:before {
	content: "\e63a";
}
.ya-menu-alt:before {
	content: "\e63b";
}
.ya-menu-inf:before {
	content: "\e63c";
}
.ya-menu-more:before {
	content: "\e63d";
}
.ya-mon:before {
	content: "\e63e";
}
.ya-museo:before {
	content: "\e63f";
}
.ya-musica:before {
	content: "\e640";
}
.ya-new:before {
	content: "\e641";
}
.ya-nigth:before {
	content: "\e642";
}
.ya-noche:before {
	content: "\e643";
}
.ya-noti:before {
	content: "\e644";
}
.ya-parking:before {
	content: "\e645";
}
.ya-pet:before {
	content: "\e646";
}
.ya-photo-plus:before {
	content: "\e647";
}
.ya-play:before {
	content: "\e648";
}
.ya-plaza:before {
	content: "\e649";
}
.ya-plus:before {
	content: "\e64a";
}
.ya-promo:before {
	content: "\e64b";
}
.ya-puntos:before {
	content: "\e64c";
}
.ya-rate:before {
	content: "\e64d";
}
.ya-rate-out:before {
	content: "\e64e";
}
.ya-rec:before {
	content: "\e64f";
}
.ya-report:before {
	content: "\e650";
}
.ya-reward:before {
	content: "\e651";
}
.ya-right:before {
	content: "\e652";
}
.ya-search:before {
	content: "\e653";
}
.ya-search-plus:before {
	content: "\e654";
}
.ya-send:before {
	content: "\e655";
}
.ya-share:before {
	content: "\e656";
}
.ya-shop:before {
	content: "\e657";
}
.ya-sky:before {
	content: "\e658";
}
.ya-sug:before {
	content: "\e659";
}
.ya-target:before {
	content: "\e65a";
}
.ya-teatro:before {
	content: "\e65b";
}
.ya-tel:before {
	content: "\e65c";
}
.ya-tips:before {
	content: "\e65d";
}
.ya-trendy:before {
	content: "\e65e";
}
.ya-tt:before {
	content: "\e65f";
}
.ya-tv:before {
	content: "\e660";
}
.ya-unlock:before {
	content: "\e661";
}
.ya-up:before {
	content: "\e662";
}
.ya-user:before {
	content: "\e663";
}
.ya-valet:before {
	content: "\e664";
}
.ya-vip:before {
	content: "\e665";
}
.ya-web:before {
	content: "\e666";
}
.ya-wifi:before {
	content: "\e667";
}
.ya-ya:before {
	content: "\e668";
}
.ya-ya-salte:before {
	content: "\e669";
}
.ya-you:before {
	content: "\e66a";
}
.ya-zoo:before {
	content: "\e66b";
}
