<!--  <span class="likes"><%=likes%><i class="mdi-action-favorite"></i></span>
 		<div class="card-title white black-text">
			<i class="<%=iconIndicator%> indicador"></i>
	  		<h4><%=name%></h4>
	  		<span><%=clasificacion%></span>
	  		<i class="mdi-navigation-more-vert navigation"></i>
		</div>
		-->
<div class="card-image waves-effect waves-block waves-light">
   <img class="activator" src="<%=mainImage%>">
   <span class="likes">
   		<%=likes%>
   		<i class="mdi-action-favorite"></i>
   </span>
 </div>
 <div class="content">
  <div class="indicador"></div>
   <span class="card-title activator grey-text text-darken-4">
   	<%=name%>
   	<i class="mdi-navigation-more-vert right"></i>
   </span>
   <p><%=clasificacion%></p>
 </div>
 <div class="card-reveal">
 	<div class="title-reveal">
 		<!--  <div class="indicador"></div>-->
 		<span class="card-title grey-text text-darken-4">
    		<%=name%>
    	<i class="mdi-content-clear right"></i>
   	</span>
   	<p><%=clasificacion%></p>
 	</div>
   
   <div class=indicadores>
   	<div class="shares col s6 left">
   		<i class="ya-share"></i>
   		<span>100</span>
   	</div>
   	<div class="likes col s6 right">
   		<span><%=likes%></span>
   		<i class="mdi-action-favorite"></i>
   	</div>
   </div>
 </div>