<div class="col s11 card-search-result">
	<a href="#" class="col s4">
		<!-- <i class="<%=iconIndicator%> indicador"></i> -->
		<div class="indicador"></div>
		<h4 class="place-name"><%=nombre%>
		<span class="category"><%=categoria%></span>
		</h4>
	</a>
  	<div class="col s4 direccion">
  		<i class="mdi-action-room"></i>
  		<h4><%=direccion1%>
  		<span><%=direccion2%></span>
  		<span><%=direccion3%></span>
  		</h4>
  	</div>
  	<div class="col s4">
  		<ul class="indicadores">
  			<li>
  				<i class="ya-c<%=rangoprecio%>"></i>
  				<span><%=precio%></span>
  			</li>
  			<li>
  				<i class="ya-clock-o <%=status%>"></i>
  				<span>abierto</span>
  				</li>
			<li>
				<i class="ya-rate rate"></i>
				<span><%=rate%></span>
			</li>
		</ul>
	</div>
</div>
<div class="col s1 favorite-section">
	<i class="mdi-action-favorite active red-text"></i>
	<span><%=likes%></span>
</div>