<li class="content">
	<div class="topbar">
		<h3 href="#!" class="text black-text title-config">
			<i class="mdi-action-settings"></i>Configuraci&oacute;n</a>
			<a href="#!" class="close black-text"><i class="mdi-navigation-close"></i></h3>
	</div>
</li>


<li class="label">Privacidad</li>
<li>Lo que comparto en redes sociales</li>
<li>
	<p class="switch">
		<label>
	    	<input type="checkbox"  checked/>
	    	<span class="lever"></span>
			Mis Fotos
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			Mis Check Ins
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			Eventos a los que asistir&eacute;
		</label>
	</p>
</li>


<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			Mis cupones
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox"/>
	    	<span class="lever"></span>
			Mis recompensas canjeadas
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox"/>
	    	<span class="lever"></span>
			Mis favoritos
		</label>
	</p>
</li>

<li class="label">Recibir Notificaciones</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			De mis Favoritos
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			Recomendaciones
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			Eventos pr&oacute;ximos
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox" checked/>
	    	<span class="lever"></span>
			Invitaciones a eventos
		</label>
	</p>
</li>

<li>
	<p class="switch">
		<label>
	    	<input type="checkbox"/>
	    	<span class="lever"></span>
			Notificaciones del sistema
		</label>
	</p>
</li>
<li>
	<p class="switch">
		<label>
	    	<input type="checkbox"/>
	    	<span class="lever"></span>
			Publicidad
		</label>
	</p>
</li>
<li class="content menu-footer">
	<!--  <div class="menu-footer">-->
		<a class="waves-effect waves-dark btn grey dark-text">Cerrar mi cuenta</a>
		<p class="footer-aviso">
			Al usar YaSalte, aceptas los 
			<a href="#">Terminos</a>,
			<a href="#">Pol&iacute;tica de Cookies </a> y
			<a href="#">Pol&iacute;tica de privacidad</a> 
		</p>
<!-- 	</div>	 -->
</li>