<div class="row">
  <div class="col m12">
    <div class="card">
      <div class="title">
        <h6><b><%=id%></b> <i class="small mdi-action-info-outline right"></i></h6>
        <span></span>
      </div>
      <div class="content">
        <div class="col s12 m6 l6 left pb-0">
	        <div class="col s12 m12 l3">
		        <select class="browser-default " style="width: 200px;">
		              <option value="" disabled="" selected="">fecha</option>
		              <option value="1">Option 1</option>
		              <option value="2">Option 2</option>
		              <option value="3">Option 3</option>
		        </select>
	        </div>
	        <div class="col s12 m12 l3">
		        <select class="browser-default " style="width: 200px;">
		              <option value="" disabled="" selected="">categor&iacute;a</option>
		              <option value="1">Option 1</option>
		              <option value="2">Option 2</option>
		              <option value="3">Option 3</option>
		        </select>
	        </div>
	        <div class="col s12 m12 l3">
		        <select class="browser-default " style="width: 200px;">
		              <option value="" disabled="" selected="">categor&iacute;</option>
		              <option value="1">Option 1</option>
		              <option value="2">Option 2</option>
		              <option value="3">Option 3</option>
		        </select>
	        </div>
	        
	        <div class="col s12 m12 l3">
		        <select class="browser-default " style="width: 200px;">
		              <option value="" disabled="" selected="">subcategor&iacute;a</option>
		              <option value="1">Option 1</option>
		              <option value="2">Option 2</option>
		              <option value="3">Option 3</option>
		        </select>
	        </div>
        </div>
        <div class="col m6 pb-0 bis-search">
              <label class="right">
                <i class="mdi-action-search prefix"></i>
                <input type="search">
              </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-wrapper">
	<ul class="cards-wrapper">
</ul>
</div>


<!-- <div class="place-holder empty-section center">
	<i class="ya-info"></i>
	<span></span>
</div>-->

<div class="center place-holder empty-section">
  <i class="mdi-action-info-outline" style="font-size:6rem;"></i>
   <h2>Aun no tienes eventos publicados crea uno y llega a miles de personas</h2>
</div>

<!--<div class="col s12 tab-content-list-title">
	<span></span>
	<i class="ya-help"></i>
</div>
<div class="col s12 tab-content-list-filters">
	<div class="col s12 l8 m8 filters-combo">
		<ul class="filter-list">
			<li>
				<div class="div btn-group">
					  <a href="#!" class="btn transparent dark-text">Ciudad</a>
					  <a href="#!" class="btn transparent dark-text dropdown-button" 
					  			   data-activates='ciudad-<%=id%>'>
					  		<span class="mdi-navigation-expand-more"></span>
					  </a>
			</div>-->
				<!-- Dropdown Structure -->
				<!--<ul id='ciudad-<%=id%>' class='dropdown-content'>
					  <li><a href="#!">M&eacute;xico</a></li>
					  <li class="divider"></li>
					  <li><a href="#!">Guadalajara</a></li>
					  <li class="divider"></li>
					  <li><a href="#!">Monterrey</a></li>
					  <li class="divider"></li>
					  <li><a href="#!">Queretaro</a></li>
				</ul>
			</li>
			<li>	
				<div class="div btn-group">
				  <a href="#!" class="btn transparent dark-text">Zona</a>
				  <a href="#!" class="btn transparent dark-text dropdown-button" 
				  			   data-activates='zona-<%=id%>'>
				  		<span class="mdi-navigation-expand-more"></span>
				  </a>
			</div>-->
				<!-- Dropdown Structure -->
				<!--<ul id='zona-<%=id%>' class='dropdown-content'>
				  <li><a href="#!">Centro</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Sur</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Poniente</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Oriente</a></li>
				</ul>
			</li>
			<li>
				<div class="div btn-group">
				  <a href="#!" class="btn transparent dark-text">Categor&iacute;a</a>
				  <a href="#!" class="btn transparent dark-text dropdown-button" 
				  			   data-activates='categoria-<%=id%>'>
				  		<span class="mdi-navigation-expand-more"></span>
				  </a>
			</div>-->
				<!-- Dropdown Structure -->
				<!--<ul id='categoria-<%=id%>' class='dropdown-content'>
				  <li><a href="#!">Comida</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Night Life</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Eventos</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Cultura</a></li>
				</ul>
			</li>
			<li>
				<div class="div btn-group">
				  <a href="#!" class="btn transparent dark-text">Sub-Categor&iacute;a</a>
				  <a href="#!" class="btn transparent dark-text dropdown-button" 
				  			   data-activates='subcategoria-<%=id%>'>
				  		<span class="mdi-navigation-expand-more"></span>
				  </a>
			</div>-->
				<!-- Dropdown Structure -->
				<!--<ul id='subcategoria-<%=id%>' class='dropdown-content'>
				  <li><a href="#!">Mexicana</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Argentina</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Espa–ola</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Brasile–a</a></li>
				</ul>
			
			</li>
		
		</ul>
			
	</div>-->
	<!-- widget de busqueda -->
	<!--<div class="col s12 l4 m4 search-filter">
			<div class="input-field">
			  <i class="mdi-action-search prefix"></i>
			  <input id="input_text_icon" type="text" class="validate">
			</div>
	</div>
</div>

<ul class="col s12 cards-wrapper">
</ul>

<div class="place-holder empty-section">
	<i class="ya-info"></i>
	<span></span>
</div>-->