<div class="login-content animated" href="#">
	<object	data="http://www.youtube.com/embed/XGSy3_Czz8k"></object>
	<a href="#" class="facebook-login waves-effect waves-dark btn indigo">
		<i class="fa fa-facebook-square"></i> entrar con facebook
		</a>
		<span>(no publicaremos sin tu permiso)</span>
	<form action="#!" class="login-form">
	 	<div>
		    <i class="fa fa-user prefix"></i>
	 	    <input id="username-input" type="text" name="username" placeholder="email">
		  </div>
		 
		  <div>
		    <i class="fa fa-unlock-alt prefix"></i>
		    <input id="password-input" type="password" name="password" placeholder="contraseña">
		  </div>
		  <button class="waves-effect waves-dark btn gray">Iniciar Sesi&oacute;n</button>
          
		  <a href="page-forgot-password.html">Olvid&eacute; mi usuario y contrase&#241;a</a>
	</form>
	
	<h4>&#191;A&uacute;n no eres usuario?</h4>
	
	<a class="waves-effect waves-dark btn indigo facebook-login"><i class="fa fa-facebook-square"></i> registro con facebook </a>
	<span>(no publicaremos sin tu permiso)</span>
    
	<a class="waves-effect waves-dark btn grey"><i class="fa fa-envelope"></i> registrar con tu email</a>
	<p>Descubre los mejores lugares y eventos y gana incre&iacute;bles recompenzas</p>
    
	<div class="menu-footer">
		<a class="waves-effect waves-dark btn red white-text"><i class="fa fa-envelope"></i> Anunciar mi negocio</a>
		<p class="footer-aviso">
			Al usar YaSalte, aceptas los 
			<a href="#">Terminos</a>,
			<a href="#">Pol&iacute;tica de Cookies </a> y
			<a href="#">Pol&iacute;tica de privacidad</a> 
		</p>
	</div>	
</div>

