<div class="row top">
				<!-- Formulario de la izquierda -->
				<div class="col s12 m12 l6 profile-form">
					<div class="col s12 tab-content-list-title">
						<span>Datos de perfil</span>
						<i class="ya-help"></i>
					</div>
					<form class="col s12 border-left border-right border-bottom">
						<div class="input-field col s12 m6 l6">
						  <i class="mdi-image-timer-auto prefix"></i>
						  <input name="nombre" id="input_text_icon" type="text" value="Cha Niembro" disabled>
						</div>
						<div class="input-field col s12 m6 l6">
						  <i class="mdi-content-mail prefix"></i>
						  <input name="email" id="input_text_icon" type="text" value="cha@doamin.com" disabled>
						</div>
						<div class="input-field col s12 m6 l6">
						  <i class="mdi-communication-call prefix"></i>
						  <input name="telefono" id="input_text_icon" type="text" value="+52 55 55 96 11" disabled>
						</div>
						<div class="input-field col s12 m6 l6">
						  <i class="mdi-action-perm-contact-cal prefix"></i>
						  <input name="birthday" class="datepicker" id="input_date" type="date" value=" 20 Dec 1986" disabled>
						</div>
						<div class="col s2 m6 l6">
							<a class="btn  fb"><i class="ya-fb"></i>conectado</a>
						</div>
						<div class="col s2 m6 l6">
							<a class="btn tw"><i class="ya-tw"></i>vincular</a>
						</div>
					</form>
				</div>
				<!-- Arquetipos de la derecha -->
				<div class="col s2 m12 l6 profile-info">
						<div class="col s12 tab-content-list-title">
							<span>Arquetipos</span>
							<i class="ya-help"></i>
						</div>
						<!-- empieza item arquetipo -->
						<div class="col s12 item-arquetipo border-left border-right border-bottom">
							<img src="images/arq01.jpg"/>
							<div class="arquetipo-descripcion">
								<p>Alter-native</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
									et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
								  	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
								  	fugiat nulla pariatur.
								</p>
							</div>
						</div><!-- / item arquetipos -->
						
						<!-- empieza item arquetipo -->
						<div class="col s12 item-arquetipo border-left border-right border-bottom">
							<img src="images/arq01.jpg"/>
							<div class="arquetipo-descripcion">
								<p>Alter-native</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
									et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
								  	ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
								  	fugiat nulla pariatur.
								</p>
							</div>
						</div><!-- / item arquetipos -->
					</div><!-- arquetipos -->
					
				<div class="col m12 s12">
                        <ul class="collapsible bg-white profile-skills " data-collapsible="expandable">
                            <li class="">
                                <div class="collapsible-header"><i class="mdi-action-label"></i>Tags</div>
                                <div class="collapsible-body" style="display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 15px; margin-bottom: 0px;">
                                    <div class="row">
                                        <div class=" col m12 s12">
                                            <a class="skill">DF</a>
                                            <a class="skill" href="#" >Tag Mas Largo</a>
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                             <a href="#" class="skill">Tag Mas Largo</a>
                                              <a href="#" class="skill">Tag Mas Largo</a>
                                               <a href="#" class="skill">Tag Mas Largo</a>
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
		 </div>	<!-- row top -->
		 <!-- row-tabs -->
		 <!-- <div class="row tags-row">
	 		<div class="col s12 tab-content-list-title">
				<span>Mis arquetipos</span>
				<i class="ya-help"></i>
			</div>
	 		<ul class="col s12 border-left border-right border-bottom">
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag Mas Largo</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag Mas Largo</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag Mas Largo</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
			</ul>
		 </div> -->