<div class="row top">
<!-- Formulario de la izquierda -->
	<div class="col l8 s12">
        <div class="card">
            <div class="title">
                <h5>Datos de perfil</h5>
            </div>
            <div class="content orders-card">
                <div class="row mt-0">
                    <div class="col m6 l6 s12 ">
                        <ul class="mail-sidebar">
                            <li>
                            	<div class="input-field">
                            	  <i class="mdi-social-person prefix"></i>
								  <input id="input_text" name="nombre" type="text"  value="Cha Niembro" disabled>
								</div>
                            </li>
                            <li>
                            	<div class="input-field">
                            	  <i class="ya-mail prefix"></i>
								  <input id="input_text" name="email" type="text" value="cha.niembro@gmail.com" disabled>
								</div>
                            </li>
                            <li>
                                <div class="alert indigo darken-4  white-text">
                                    <i class="fa fa-facebook  white-text"></i>            
                                    <span>Conectado</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col m6 l6 s12 ">
                        <ul class="mail-sidebar">
                            <li>
                            	<div class="input-field">
                            	  <i class="ya-tel prefix"></i>
								  <input id="input_text" name="telefono" type="text" value="+52  55-57-58-52-10" disabled>
								</div>
                            </li>
                            <li>
                            	<div class="input-field">
                            	  <i class="ya-calendar"></i>
								  <input id="input_text" class="pikaday"  name="birthday" type="text" value="03-Julio_1983" disabled>
								</div>
                                <!-- <span><i class="ya-calendar"></i>   </span> -->
                            </li>
                            <li>
                                <div class="alert grey lighten-2  grey-text">
                                    <i class="fa fa-twitter  grey-text"></i>            
                                    <span>Sin vincular</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
				
				<div class="col l4 s12">
                        <div class="card">
                            <div class="title">
                                <h5>Arquet&iacute;pos</h5>
                            </div>
                            <div class="content orders-card">
                                <div class="row">
                                    <div class="col s2">
                                        <img src="images/cat/arq01.jpg " style="width:50px">
                                    </div>
                                    <div class="col s10 left-align">
                                        Hipster
                                    </div>
                                </div>
                            </div>
                            <div class="content orders-card">
                                <div class="row">
                                    <div class="col s2">
                                        <img src="images/cat/arq03.jpg " style="width:50px">
                                    </div>
                                    <div class="col s10 left-align">
                                        Alter-native
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
				
				<div class="col m12 s12">
                        <ul class="collapsible bg-white profile-skills " data-collapsible="expandable">
                            <li class="">
                                <div class="collapsible-header"><i class="mdi-action-label"></i>Tags</div>
                                <div class="collapsible-body" style="display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 15px; margin-bottom: 0px;">
                                    <div class="row">
                                        <div class=" col m12 s12">
                                            <a class="skill">DF</a>
                                            <a class="skill" href="#" >Tag Mas Largo</a>
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                             <a href="#" class="skill">Tag Mas Largo</a>
                                              <a href="#" class="skill">Tag Mas Largo</a>
                                               <a href="#" class="skill">Tag Mas Largo</a>
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                            <a href="#" class="skill">Tag</a>	
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
		 </div>	<!-- row top -->
		 <!-- row-tabs -->
		 <!-- <div class="row tags-row">
	 		<div class="col s12 tab-content-list-title">
				<span>Mis arquetipos</span>
				<i class="ya-help"></i>
			</div>
	 		<ul class="col s12 border-left border-right border-bottom">
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag Mas Largo</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag Mas Largo</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag Mas Largo</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
		 		<li>	
		 			<a href="#" class="btn red white-text tag-item">Tag</a>	
		 		</li>
			</ul>
		 </div> -->