<div class="parallax-container top mnt-17 mnl-17 mnr-17 mb-17" style=" height: 200px;">
       <div class="parallax" style="height: 200px;">
           <img src="assets/custom/images/black.jpg" style="display: block; transform: translate3d(-50%, 1485px, 0px);">
          <!-- <span class="card-profile-direccion left ">rockstar</span>-->
       </div>
</div>
 <div class="page-title">
    <a href="profile_editar.html" class="btn-floating-edit waves-effect waves-light right">
        <i class="mdi-editor-mode-edit"></i>
    </a>
    <div class="row" style="height: 40px;">
        <div class="col s10 m10 l11">
            <div class="row">
                <div class="col l4 m6 s6 ">
                    <img id="iconlugar" class=" white card-profile-big fix-bis" src="images/cat/userb.jpg">
                    <h4 style="margin-bottom: 0px;margin-top: 0px; margin-left: 95px"> Cha Niembro</h4>
                </div>
                <div class="col l1 m1 s1 center-align right rate-fix ">
                    <h4 style="margin-bottom: 0px;margin-top: -5px;">54</h4>
                    <li>Rese&#241;</li>
                </div>
                <div class="col l2 m2 s1 center-align right rate-fix ">
                    <h4 style="margin-bottom: 0px;margin-top: -5px;">100</h4>
                    <li>Fotos</li>
                </div>
                <div class="col l2 m2 s1 center-align right rate-fix">
                    <h4 style="margin-bottom: 0px;margin-top: -5px;">230</h4>
                    <li>Favoritos</li>
                </div>
                <div class="col l2 m2 s1 center-align right">
                    <h4 style="margin-bottom: 0px;margin-top: -5px;">1000</h4>
                    <li>Puntos</li>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col s12 ">
   <ul class="tabs z-depth-1">
       <li class="tab full col s3"><a class="active" href="#favoritos"><i class=" tiny2 mdi-action-favorite"></i>Mis Favoritos </a></li>
       <li class="tab full col s3"><a href="#eventos"><i class="tiny2 mdi-action-event"></i>Mis Eventos</a></li>
       <li class="tab full col s3"><a href="#cupones"><i class="tiny2 mdi-maps-local-offer"></i>Mis Cupones</a></li>
       <li class="tab full col s3"><a href="#recompensas"><i class="tiny2 mdi-av-new-releases"></i>Mis Recompensas</a></li>
       <li class="tab full col s3"><a href="#fotos"><i class="tiny2 mdi-image-camera-alt"></i>Mis Fotos</a></li>
       <li class="tab full col s3"><a href="#timeline"><i class="tiny2 mdi-editor-format-list-bulleted"></i>Timeline</a></li>
       <li class="tab full col s3 gray"><a href="#profile"><i class="tiny2 mdi-social-person"></i>Perfil</a></li>
   </ul>
</div>