<div class="parallax-container top mnt-17 mnl-17 mnr-17 mb-17" style=" height: 200px;">
       <div class="parallax" style="height: 200px;">
           <img src="assets/custom/images/black.jpg" style="display: block; transform: translate3d(-50%, 1485px, 0px);">
           <span class="card-profile-direccion left ">rockstar</span>
       </div>
 	</div>
 	<div class="card-content">
       	<img id="iconlugar" class=" white card-profile-image left " src="assets/_con/images/user.jpg">
        <a class="btn-floating-edit waves-effect waves-light right btn-edit-profile">
        	<i class="mdi-editor-mode-edit"></i>
        </a>
     </div>
	     
     <div class="page-title">
	       <div class="row" style="height: 40px;">
                 <div class="col s12 m9 l10">            
                 	<div class="row">
	                      <div class="col s4 ">
	                          <h3 class="profile-username">Cha Niembro</h3>
	                      </div>
                          <div class="col s2 center-align point-indicator">
                              <h4>1000</h4>
                              <li>puntos</li>
                          </div>
                          <div class="col s2 center-align point-indicator ">
                              <h4>125</h4>
                              <li>favoritos</li>
                          </div>
                           <div class="col s2 center-align point-indicator">
                               <h4>562</h4>
                               <li>fotos</li>
                           </div>
                            <div class="col s2 center-align point-indicator">
                                <h4>152</h4>
                                <li>Rese–as</li>
                            </div>
            		</div>
                 </div>
            </div>
	 </div>
		 
	 <div class="row">
	   <div class="col s12 m12 tabs-wrapper">
	      <ul class="tabs z-depth-1 tabs-profile border-top">
	         <li class="tab col s6 m2 l2 border-right" ><a href="#favoritos" class="active" ><i class="mdi-action-favorite"></i> Mis Favoritos </a></li>
	         <li class="tab col s6 m2 l2 border-right"><a href="#eventos"><i class="tiny2 mdi-action-event"></i>  Mis eventos</a></li>
	         <li class="tab col s6 m2 l2 border-right"><a href="#cupones"><i class="tiny2 mdi-maps-local-offer"></i>Mis cupones</a></li>
	         <li class="tab col s6 m2 l2 border-right"><a href="#recompensas"><i class="tiny2 mdi-action-grade"></i>Mis Recompensas</a></li>
	         <li class="tab col s6 m2 l2 border-right"><a href="#fotos"><i class="tiny2 mdi-image-camera-alt"></i>Mis fotos</a></li>
	         <li class="tab col s6 m2 l2  border-right"><a href="#timeline" ><i class="tiny2 mdi-maps-store-mall-directory"></i>Mi Timeline</a></li>
	         <li class="tab col s6 m2 l2"><a href="#profile"><i class="tiny2 mdi-maps-store-mall-directory"></i>Mi Perfil</a></li>
	      </ul>
	   </div>
</div>