<div class="page-title">
		<div class="row">
				<div class="col s12 m6 l3"></div>	
				<div class="col s12 m6 l3"></div>	
				<div class="col s12 m6 l3"></div>
				<div class="col s12 m6 l3"></div>
		</div>
</div>

<div class="row basic-filters">
		<div class="col s12 m6 l6 result-filters">
			<span class="result-counter">1532 RESULTADOS</span>
		</div>
		<div class="col s12 m6 l6 combo-filters">
			<div class="col s4">
	               	<a href="#!" class="btn-flat transparent dark-text" data-activates="zona-filter">Zona 
	                    <span class="fa fa-caret-down"></span>
					</a>
	                <ul id="zona-filter" class="dropdown-content">
	                  <li><a href="#!">Centro</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">Sur</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">Poniente</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">Oriente</a></li>
	                </ul>
	        
			</div>
			<div class="col s4">
				
			</div>
			<div class="col s4">
				
			</div>
		</div>
</div> 