<div class="page-title">
		<div class="row">
				<div class="col s12 m6 l3"></div>	
				<div class="col s12 m6 l3"></div>	
				<div class="col s12 m6 l3"></div>
				<div class="col s12 m6 l3"></div>
		</div>
</div>

<div class="row basic-filters card-panel">
		<div class="col s12 m6 l6 result-filters">
			<span class="result-counter">1532 RESULTADOS</span>
		</div>
		<div class="col s12 m6 l6 combo-filters">
			<div class="col s4">
	               	<a href="#!" class="dropdown-button btn-flat transparent dark-text" data-activates="zona-filter">Zona 
	                    <span class="fa fa-caret-down"></span>
					</a>
	                <ul id="zona-filter" class="dropdown-content">
	                  <li><a href="#!">Centro</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">Sur</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">Poniente</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">Oriente</a></li>
	                </ul>
	        
			</div>
			<div class="col s4">
				<a href="#!" class="dropdown-button btn-flat transparent dark-text" data-activates="categoria-filter">Categor&iacute;a 
	                    <span class="fa fa-caret-down"></span>
					</a>
					<ul id="categoria-filter" class="dropdown-content">
	                  <li><a href="#!">restaurantes</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">bares</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">cines</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">eventos</a></li>
	                </ul>
			</div>
			
			<div class="col s4">
				<a href="#!" class="dropdown-button btn-flat transparent dark-text" data-activates="subcategoria-filter">Sub Categor&iacute;a 
	                    <span class="fa fa-caret-down"></span>
					</a>
					<ul id="subcategoria-filter" class="dropdown-content">
	                  <li><a href="#!">sub1</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">sub2</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">sub3</a></li>
	                  <li class="divider"></li>
	                  <li><a href="#!">sub4</a></li>
	                </ul>
			</div>
		</div>
</div> 


<div class="row content">
			<div class="col s12 m12 l2 filtros-avanzados card-panel">
				<div class="">
					<ul class="filter-section mail-sidebar">
						<li class="center">
							Filtros
						</li>
						<li class="divider">
						</li>
						<li>
							mejor calificaci&oacute;n
						</li>
						<li >
							favoritos
						</li>
						<li>
							<i class="ya-c1"></i>
							<i class="ya-c2"></i>
							<i class="ya-c3"></i>
							<i class="ya-c4"></i>
						</li>
						
						<li>
						 	mas cercano
						 	<i class="mdi-navigation-arrow-drop-up"></i>
						 	<i class="mdi-navigation-arrow-drop-down"></i>
						</li>
						<li>
						 	abierto ahora
						</li>
						<li>
						 	lugares donde no he estado
						</li>
						<li>
						 	servicio a domicilio
						</li>
					</ul>
				</div>
				
			
			<!-- <div class="col s12">
				<div class="card of-h">
						  <div class="card-image waves-effect waves-block waves-light">
						    <img class="activator" src="assets/_con/images/image-1.jpg">
						  </div>
						  <div class="content">
						    <span class="card-title activator grey-text text-darken-4">Card Title<i class="mdi-navigation-more-vert right"></i></span>
						    <p><a href="#">This is a link</a></p>
						  </div>
						  <div class="card-reveal">
						    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-content-clear right"></i></span>
						    <p>Here is some more information about this product that is only revealed once clicked on.</p>
						  </div>
					</div>
				</div>
				
				<div class="col s12">
					<div class="card of-h">
						  <div class="card-image waves-effect waves-block waves-light">
						    <img class="activator" src="assets/_con/images/image-1.jpg">
						  </div>
						  <div class="content">
						    <span class="card-title activator grey-text text-darken-4">Card Title<i class="mdi-navigation-more-vert right"></i></span>
						    <p><a href="#">This is a link</a></p>
						  </div>
						  <div class="card-reveal">
						    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-content-clear right"></i></span>
						    <p>Here is some more information about this product that is only revealed once clicked on.</p>
						  </div>
					</div>
				</div>
				<div class="col s12">
					<div class="card of-h">
						  <div class="card-image waves-effect waves-block waves-light">
						    <img class="activator" src="assets/_con/images/image-1.jpg">
						  </div>
						  <div class="content">
						    <span class="card-title activator grey-text text-darken-4">Card Title<i class="mdi-navigation-more-vert right"></i></span>
						    <p><a href="#">This is a link</a></p>
						  </div>
						  <div class="card-reveal">
						    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-content-clear right"></i></span>
						    <p>Here is some more information about this product that is only revealed once clicked on.</p>
						  </div>
					</div>
				</div> -->
			</div>
		
			<div class="col s12 m12 l10 search-suggest">
				<ul>
	  				
  				</ul>
			</div>
		</div>
        
        <script>
		setTimeout(function(){// un lugar de esto llamar funcion al terminar la animacion
		
			var topFilters = $('.basic-filters.card-panel').offset().top;
			var headerHgt = $('.navbar-top.red').height();
			var numFix = topFilters-headerHgt-10;//el 10 es para el margen
			
			$(window).on('scroll.tope',function(){
				var scrolL = $(window).scrollTop();
				if(scrolL > numFix){
					$('.basic-filters.card-panel').addClass('fixed');
					$('.searchView .content').css('padding-top', $('.basic-filters.card-panel').outerHeight()+12 )//el 12 del margen
				}
				else{
					$('.basic-filters.card-panel').removeClass('fixed');
					$('.searchView .content').removeAttr('style')
				}
			});
		  
		}, 2000);
		
		
		</script>
        
        
        
        