<div class="page-title">
  		<div class="row">
  				<div class="col s12 m9 l12 center-align header-search ">
  					<ul class="icons-search">
  						<li>
  							<a href="#" class="red">
  								<i class="ya-food"></i>
  							</a>
  						</li>
  						<li>
  							<a href="#" class="brown">
  								<i class="mdi-maps-local-cafe"></i>
  							</a>
  						</li>
  						<li>
  							<a href="#" class="purple accent-4">
  								<i class="mdi-maps-local-bar"></i>
  							</a>
  						</li>
  						
  						<li>
  							<a href="#" class="indigo">
  								<i class="ya-cultura"></i>
  							</a>
  						</li>
  						
  						<li>
  							<a href="#" class="deep-purple accent-3">
  								<i class="ya-recreativo"></i>
  							</a>
  						</li>

  						<li>
  							<a href="#"  class="pink">
  								<i class="ya-cine"></i>
  							</a>
  						</li>
  						<li>
  							<a href="#" class=" blue darken-3">
  								<i class="ya-sitios"></i>
  							</a>
  						</li>
  						<li>
  							<a href="#" class="green">
  								<i class="mdi-editor-insert-invitation"></i>
  							</a>
  						</li>
  						<li>
  							<a href="#" class="orange">
  								<i class="mdi-maps-local-offer"></i>
  							</a>
  						</li>
  						<li>
  							<a href="#" class="black">
  								<i class="mdi-maps-beenhere"></i>
  							</a>
  						</li>
  					</ul>
  				</div>
  		</div>
	</div>
<div class="row">
		  <div class="col s12 l4 frecuentes">
		  	<h4>busquedas frecuentes</h4>
		  		<ul>
    	 	<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Reparto a domicilio</h3>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Eventos Gratuitos</h3>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Buffets</h3>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Pel&iacute;culas</h3>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Promociones</h3>
				</a>
			</li>
		</ul>
		  </div>
		  
  <div class="col s12 l4 trendy" >
  	<h4>lo trendy</h4>
	<ul>
   	 	<li class="restaurant">
   	 		<div class="card-panel stats-card grey-text darken-4-text">
						<i class="ya-food principal"></i>
						<h3 class="name">La casa de toño</h3>
						<span>restaurant</span>
						<i class="mdi-action-favorite option"></i>
			</div>
		</li>
		<li class="bar">
			<div class="card-panel stats-card grey-text darken-4-text">
					<i class="mdi-maps-local-bar principal"></i>
 					<h3 class="name">La Lagartona</h3>
 					<span>bar</span>
 					<i class="mdi-action-favorite option"></i>
			</div>
		</li>
			<li class="cafe">
			<div class="card-panel stats-card grey-text darken-4-text">
			  <i class="mdi-maps-local-cafe principal"></i>
			  <h3 class="name">El café</h3>
			  <span>cafe</span>
			  <i class="mdi-action-favorite option"></i>
		 	</div>
	 	</li>
	 	<li class="restaurant">
	 		<div class="card-panel stats-card grey-text darken-4-text">
				  <i class="ya-food principal"></i>
				  <h3 class="name">La casa de toño</h3>
				  <span>restaurant</span>
				  <i class="mdi-action-favorite option"></i>
			</div>
		</li>
		<li class="bar">
			<div class="card-panel stats-card grey-text darken-4-text">
			  <i class="mdi-maps-local-bar principal"></i>
			  <h3 class="name">La Lagartona</h3>
			  <span>bar</span>
			  <i class="mdi-action-favorite option"></i>
			</div>
		</li>
		<li class="cafe">
			<div class="card-panel stats-card grey-text darken-4-text">
				  <i class="mdi-maps-local-cafe principal"></i>
				  <h3 class="name">El café</h3>
				  <span>cafe</span>
				  <i class="mdi-action-favorite option"></i>
			</div>
		</li>
		<li class="restaurant">
			<div class="card-panel stats-card grey-text darken-4-text">
			  <i class="ya-food principal"></i>
			  <h3 class="name">Pussy Pizza</h3>
			  <span>restaurant</span>
			  <i class="mdi-action-favorite option"></i>
			</div>
		</li>
	</ul>		  	
 </div>
  <div class="col s12 l4 gua">
  	<h4>gu&iacute;a</h4>
  	<ul>
    	 	<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Los mejores antros de la condesa</h3>
 						<span>gu&iacute;a</span>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Los mejores antros de la condesa</h3>
 						<span>gu&iacute;a</span>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Los mejores antros de la condesa</h3>
 						<span>gu&iacute;a</span>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Los mejores antros de la condesa</h3>
 						<span>gu&iacute;a</span>
				</a>
			</li>
			<li class="restaurant">
    	 		<a href="#" class="card-panel stats-card grey-text darken-4-text">
 						<i class="ya-food principal"></i>
 						<h3 class="name">Los mejores antros de la condesa</h3>
 						<span>gu&iacute;a</span>
				</a>
			</li>
		</ul>
  </div>
</div>