<!-- sitios destacados -->
<div class="row destacados">
  			<div class="col s12 m6 l3">
  			</div>
  			<div class="col s12 m6 l3">
  			</div>
  			<div class="col s12 m6 l3">
  			</div>
  			<div class="col s12 m6 l3">
  			</div>
</div>
<!-- /sitios destacados -->

<!-- Filtros basicos -->
<div class="row basic-filters">
	<div class="col s12 m6 l6 result-filters">
		<span class="result-counter">1532 RESULTADOS</span>
	</div>
	<div class="col s12 m6 l6 combo-filters">
		<div class="col s4">
        
              	<a href="#!" class="btn-flat transparent dark-text" data-activates='zona-filter'>Zona 
                    <span class="fa fa-caret-down"></span>
				</a>
                <ul id='zona-filter' class='dropdown-content'>
                  <li><a href="#!">Centro</a></li>
                  <li class="divider"></li>
                  <li><a href="#!">Sur</a></li>
                  <li class="divider"></li>
                  <li><a href="#!">Poniente</a></li>
                  <li class="divider"></li>
                  <li><a href="#!">Oriente</a></li>
                </ul>
        
		</div>
		<div class="col s4">
			<select name="categoria">
			    <option value="" disabled selected>categor&iacute;a</option>
			    <option value="press">restaurantes</option>
			    <option value="internet">bares</option>
			    <option value="mouth">cines</option>
			    <option value="other">eventos</option>
		</select>
		</div>
		<div class="col s4">
			<select name="subcategoria">
			    <option value="" disabled selected>sub-categor&iacute;a</option>
			    <option value="press">sub 1</option>
			    <option value="internet">sub 2</option>
			    <option value="mouth">sub 3</option>
			    <option value="other">sub 4</option>
				</select>
		</div>
	</div>
</div>

<!-- /filtrosBasicos -->

<!-- Espacio para resultados -->
<div class="row resultados">
		<!-- filtros avanzados -->
		<div class="col s12 m3 l3 filtros-avanzados">
			<ul class="filter-section">
				<li class="col s12 border-bottom">
					Filtros
				</li>
				<li class="col s6 border-right border-bottom">
					mejor calificaci&oacute;n
				</li>
				<li class="col s6 border-bottom">
					favoritos
				</li>
				<li class="col s3 border-bottom border-right">
					<i class="ya-c1"></i>
				</li>
				<li class="col s3 border-bottom border-right">
					<i class="ya-c2"></i>
				</li>
				<li class="col s3 border-bottom border-right">
					<i class="ya-c3"></i>
				</li>
				<li class="col s3 border-bottom">
					<i class="ya-c4"></i>
				</li>
				<li class="col s12 border-bottom">
				 	mas cercano
				 	<i class="mdi-navigation-arrow-drop-up"></i>
				 	<i class="mdi-navigation-arrow-drop-down"></i>
				</li>
				<li class="col s12 border-bottom">
				 	abierto ahora
				</li>
				<li class="col s12 border-bottom">
				 	lugares donde no he estado
				</li>
				<li class="col s12">
				 	servicio a domicilio
				</li>
			</ul>
			<!-- filtros avanzados -->
			<!-- <div class="card guia">
				<span class="likes">100 <i class="mdi-action-favorite"></i></span>
			<div class="card-title white black-text">
					<i class="ya-food indicador"></i>
					<h4>Los mejores antros de la Condesa</h4>
					<span>Nuestra seleci&oacute;n</span>
					<i class="mdi-navigation-more-vert navigation"></i>
				</div>
			</div>
			<div class="card eventos">
				<span class="likes">100 <i class="mdi-action-favorite"></i></span>
			<div class="card-title white black-text">
					<i class="ya-food indicador"></i>
					<h4>Los mejores antros de la Condesa</h4>
					<span>Nuestra seleci&oacute;n</span>
					<i class="mdi-navigation-more-vert navigation"></i>
				</div>
			</div> -->
		</div>
		
		<!-- lista de resultados -->
		<div class="col s12 s12 l9 search-suggest ">
			<ul>
				
			</ul>
		</div>	
		<!-- /lista de resultados -->	
</div>
<!-- /Espacio para resultados -->