<li class="content">
	<img src="<%=profileImage%>">
	<h1><%=name%></h1>
	<span><%=profile%></span>
</li>

<li class="">
            <a class="yay-sub-toggle">
            		<div class="button-expand">
            			<span class="yay-collapse-icon mdi-navigation-expand-more">
            		</div>
            		
            		</span>
            		<span><%=points%> puntos</span>
            </a>
            <ul style="display: none;">
     			<li>
    				<a href="#" class="mnuEditProfile">	
						<i class="mdi-content-create"></i>
							Editar Perfil
					</a> 				
     			</li>
     			<li>
     				<a href="#" class="mnuConfigAccount">	
						<i class="mdi-action-settings"></i>
							Configuraci&oacute;n
					</a>
     			</li>
     			<li>
     				<a href="#" class="mnuLogout">	
					<i class="material-icons">input</i>
						Salir
					</a>
     			</li>       	
            </ul>
</li>

<li>
	<a href="#" class="mnufavorites">
		<i class="ya-fb"></i>
		Mis Favoritos
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="mdi-editor-insert-invitation"></i>
		Mis Eventos
	</a>
</li>

<li>
	<a href="#" class="mnuCupones">
		<i class="mdi-maps-local-offer"></i>
		Mis Cupones
	</a>
</li>

<li>
	<a href="#" class="mnuRecomendaciones">
		<i class="ya-recomendacion"></i>
		Mis Recomendaciones
	</a>
</li>

<li>
	<a href="#" class="mnuRecompensas">
		<i class="mdi-av-new-releases"></i>
		Mis Recompensas
	</a>
</li>

<li>
	<a href="#" class="mnuFotos">
		<i class="ya-photo"></i>
		Mis Fotos
	</a>
</li>

<li>
	<a href="#" class="mnuTimeline">
		<i class="material-icons">list</i>
		Mi Timeline
	</a>
</li>

<li class="active">
	<a href="#" class="mnuNegocio">
		<i class="mdi-maps-store-mall-directory"></i>
		Mi negocio
	</a>
</li>
