<li class="content">
	<img src="<%=profileImage%>">
	<h1><%=name%></h1>
	<span><%=profile%></span>
	<i class="mdi-hardware-keyboard-arrow-down"></i>
	<span><%=points%> puntos</span>
</li>

<li>
	<a href="#" class="mnufavorites">
		<i class="ya-fb"></i>
		Mis Favoritos
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="mdi-editor-insert-invitation"></i>
		Mis Eventos
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="mdi-maps-local-offer"></i>
		Mis Cupones
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="ya-recomendacion"></i>
		Mis Recomendaciones
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="mdi-av-new-releases"></i>
		Mis Recompensas
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="ya-photo"></i>
		Mis Fotos
	</a>
</li>

<li>
	<a href="#" class="mnuEvents">
		<i class="list materialize"></i>
		Mi Timeline
	</a>
</li>

<li class="active">
	<a href="#" class="mnuEvents">
		<i class="mdi-maps-store-mall-directory"></i>
		Mi negocio
	</a>
</li>
